html {
  background-image: url(assets/portrait.png),
    linear-gradient(to left, #637ec3, #313992);
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain;
}

#intro-section {
  background: #000000c1;
  box-shadow: 10px 10px 6px rgba(0, 0, 0, 0.525);
  border-radius: 5px;
  padding: 40px;
  margin: 50px;
  max-width: 100px;
  min-width: 500px;
}

img {
  border-radius: 5px;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.525);
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.659);
}

body{
  margin: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(12px);
}



p {
  margin-inline: 10px;
  font-size: 1.9rem;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 40px;
  color: #ffffff;
  font-weight: 400;
}

#donation-modal {
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 1.9rem;
  width: 300px;
  height: fit-content;
  border-radius: 5px;
  border: none;
  box-shadow: 10px 10px 6px rgba(0, 0, 0, 0.525);
}

#donation-modal a {
  margin: 20px;
}

#donation-modal h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.3rem;
}



/* CSS */
button,
a {
  margin: auto;
  background: #d20a0a;
  border: 1px solid #d20a0a;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: block;
  font-family: nunito, roboto, proxima-nova, 'proxima nova', sans-serif;
  font-size: 1.9rem;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 14px 16px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  text-decoration: none;
}

button:hover,
button:active,
a:hover,
a:active {
  background-color: initial;
  background-position: 0 0;
  color: #d20a0a;
}

button:active {
  opacity: 0.5;
}

@media only screen and (hover: none) and (pointer: coarse) {
  html {
    background-position: bottom;
    background-image: url(assets/portrait.png),
      linear-gradient(to top, #637ec3, #313992);
  }

  body {
    flex-flow: column-reverse;
  }

  p {
    font-size: 1.2rem;
    line-height: 25px;
    margin-inline: 0px;
  }

  img {
    width: 85vw;
    margin-bottom: 20px;
  }

  #intro-section {
    max-width: 80vw;
    min-width: 80vw;
    padding: 30px;
    box-shadow: none;
  }

  #donation-modal {
    flex-flow: column;
    width: 70vw;
  }
}
